<!DOCTYPE html>
<html lang="“en”" dir="“ltr”">
  <head>
    <meta charset="“utf-8”">
    <title>Operation Room</title>

    <link rel="stylesheet" href="../../assets/profile.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="links">
        <% if @user.surgeon && @user.id == session[:user_id]%>
        <p><%= link_to 'See All Active Tickets', tickets_url%></p><p><%= link_to "Logout", user_session_path, method: 'delete' %></p><br/>
      </div>

      <h1>Surgery in progress</h1>

      <h2>Operating Table</h2>

      <div class="map">
        <%=image_tag( "http://maps.googleapis.com/maps/api/staticmap?&size=600x300&markers=color:red%7Clabel:C%7C""#{@ticket.latitude},
        #{@ticket.longitude}""&markers=color:green%7Clabel:S%7C""#{@user.latitude},#{@user.longitude}&key=AIzaSyCkKzATU2kEC4ksnb43ghD13drzd4LQlgE" )%>
      </div>
      <div class="ticket_wrapper">
        <div class="surgeon_location">
          <h3>Surgeon Location</h3><br />
          <p><%= "Surgeon Starting Address: #{@current_user.address}" %></p><br />
          <p><%= "Surgeon Starting Longitude: #{@current_user.longitude}" %></p><br />
          <p><%= "Surgeon Starting Latitude: #{@current_user.latitude}" %></p><br />
        </div>
        <div class="cycle_location">
          <h3>Cyclist Location</h3><br />
          <p><%= "Cyclist Address: #{@ticket.address}" %></p><br />
          <p><%= "Cyclist Latitude: #{@ticket.longitude}" %></p><br />
          <p><%= "Cyclist Longitude: #{@ticket.latitude}" %></p><br />
        </div>
        <div class="complete">
          <%= link_to 'Surgery complete!', ticket_path, method: :patch, data: { confirm: "Congratulations, your surgery was a smashing success!"} %>
        </div>
        <div class="cancel">
          <%= link_to 'Cancel surgery', ticket_path(@ticket.id), method: :delete, data: { confirm: "Are you sure you want to cancel your surgery?"} %>
        </div>

      </div>
    </div>
    <% end %>
  </body>
</html>

