<h1>Operating Table</h1>
  <%= image_tag(
  "http://maps.googleapis.com/maps/api/staticmap?key=#{ENV['GEO_KEY3']}
  &size=700x800&zoom=15&markers=color:blue%7C#{@user.latitude},"" #{@user.longitude}""&markers=#{@ticket.user_address}")
  %>


<p><%= "Surgeon Starting address: #{@current_user.address}" %></p>
<p><%= "Surgeon Starting longitude: #{@current_user.longitude}" %></p>
<p><%= "Surgeon Starting latitude: #{@current_user.latitude}" %></p>
<p><%= "Cyclist Address: #{@ticket.address}" %></p>
<p><%= "ticket latitude: #{@ticket.longitude}" %></p>
<p><%= "ticket longitude: #{@ticket.latitude}" %></p>

  <p><%= @ticket_repair_string %></p>
    <%= link_to 'Surgery complete!', ticket_path, method: :patch, data: { confirm: "Congratulations, your cycle surgery was a smashing success!"} %><br / >
    <%= link_to 'Cancel surgery', ticket_path(@ticket.id), method: :delete, data: { confirm: "Are you sure you want to cancel your cycle surgery?"} %><br />
    <%= link_to 'Review my dashboard', user_path(current_user) %>
