<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up Page</title>
    <script src="../../assets/sign_up.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/sign_up.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="new_logo">
        <%= image_tag('cyclesurgeon_logo.png', :alt => "A bicyclist in orage on their bike") %>
      </div>
      <div class="new_user_selector">
        <h2>Are you a ...</h2>
      </div>
      <div class="biker_selector">
        <%= image_tag("biker.jpg", :alt => "A bicyclist in orange on their bike", :id => "cycle_image") %>
        <!-- Credit to Jack Alexander for the photo -->
      </div>
      <div class="surgeon_selector">
        <%= image_tag("surgeon.jpg", :alt => "A man fixing a sprocket on a bike", :id => "surgeon_image") %>
        <!-- Credit to Igor Peftiev for the photo-->
      </div>
      <div class="form_wrapper">
        <div class="form">
          <%= render 'form' %>
        </div>
        <div class="go_back">
          <p class="button"><%= link_to 'Back to Home', root_path %></p>
        </div>
      </div>
    </div>
  </body>
<style>


</style>
</html>
