<!-- This page will combine:
https://docs.google.com/presentation/d/12eqUUWJIhksGiVMjrr4Eh_NtG1okED5CA7ciPnY3GjE/edit#slide=id.g41e213c944_0_21
https://docs.google.com/presentation/d/12eqUUWJIhksGiVMjrr4Eh_NtG1okED5CA7ciPnY3GjE/edit#slide=id.g41e213c944_0_34
You can sign-in an existing account
Or easily create a new one -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up Page</title>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/sign_up.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="new_logo">
        <%= image_tag("cyclesurgeon_logo.png") %>
      </div>
      <div class="new_user_selector">
        <h2>Are you a ...</h2>
      </div>
      <div class="biker_selector">
        <a href="#"><%= image_tag("biker.jpg", :alt => "A bicyclist in orange on their bike") %></a>
        <!-- Credit to Jack Alexander for the photo -->
      </div>
      <div class="surgeon_selector">
        <a href="#"><%= image_tag("surgeon.jpg", :alt => "A man fixing a sprocket on a bike") %></a>
        <!-- Credit to Igor Peftiev for the photo-->
      </div>
      <div class="form_wrapper">
        <div class="form">
          <%= render 'form' %>
        </div>
        <div class="go_back">
          <%= link_to 'Back to Home', root_path %>
        </div>
      </div>
    </div>

  </body>
</html>
