<!DOCTYPE html>
<html lang=“en” dir=“ltr”>
 <head>
   <meta charset=“utf-8”>
   <title>User Dashboard</title>
   <link rel="stylesheet" href="../../assets/profile.css">
 </head>
 <body>
   <div class="wrapper">
     <div class="links">
       <% if @user.surgeon && @user.id == session[:user_id]%>
         <%= link_to 'See All Active Tickets', tickets_url%><br />
       <% elsif @user.surgeon == nil && @user.id == session[:user_id]  %>
         <%= link_to 'Submit a Ticket', new_ticket_url %><br />
       <% end %>
      <p><%= link_to "Logout", user_session_path, method: 'delete' %><p>
     </div>

     <h1>Your Dashboard</h1>
     <div id="user_name">
       <p>
       <%= 'Hello'%>
       <%= current_user.username%>
      </p>
     </div>


    <div id="surgery_in_progress">
      <% if @user.surgeon == false || @user.surgeon == nil && @user.id == session[:user_id]%>
        <h2>Surgery in Progress</h2>
          <% @ticket_in_progress_cyc.each do |ticket|%>
            <% if ticket.ticket_accepted == true %>
              <%= "Date created: #{ticket.created_at}"%><br />
              <%= "Repair Type: #{ticket.repair_string}"%><br />
              <%= link_to "Examination room", ticket_url(ticket.id)%><br />
              <%= "Your surgeon is en route!" %><br />
            <% end %>
          <% end %>

         <% end %>

      <% if @user.surgeon == true && @user.id == session[:user_id]%>

         <% if @user.surgeon == true && @user.id == session[:user_id]%>
         <div id="user_name">
           <%= form_for @user do |f| %>
             <p>
             <%= f.label :street %>
             <%= f.text_field :street, placeholder: '220 King Street West' %>
           </p>
             <p><%= f.label :city %>
             <%= f.text_field :city, placeholder: 'Toronto' %>
           </p>
           <p>
             <%= f.label :state %>
             <%= f.text_field :state, placeholder: 'Ontario' %>
           </p>
           <p>
             <%= f.label :country %>
             <%= f.text_field :country, placeholder: 'Canada' %>
           </p>

             <%= f.submit "Update Your Location" %>
           <% end %>
         </div>

         <h2>Surgery in Progress</h2>
           <% @ticket_in_progress.each do |ticket|%>
             <% if ticket.ticket_accepted == true %>
               <%= "Date created: #{ticket.created_at}"%><br />
               <%= "Repair Type: #{ticket.repair_string}"%><br />
               <%= link_to "Examination room", accepted_url(ticket.id)%><br />


            <% end %>
          <% end %>
         <% end %>

          <div id="sched_surgery">
            <% if !@user.surgeon %>
            <% end %>

          <h2>Scheduled Surgeries</h2>
            <% @user_tickets.each do |pending| %>
              <%= "Date created: #{pending.created_at}" %><br />
              <%= "Repair Type: #{pending.repair_string}" %><br />
              <%= link_to "Examination room", ticket_url(pending.id) %><br />
              <%= "Awaiting surgeon" %>
            <% end %>
      <% end %>
          </div>


 </body>
</html>
