<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/show.css">
  </head>
  <body>
    <section class="profile_nav_bar">
        <nav>
          <ul>
            <li>
              <a href="#"><p>Tickets</p></a>
            </li>
            <li>
              <% if @user.surgeon && @user.id == session[:user_id]%>
                <%= link_to 'See all active tickets', tickets_url%><br />
                  <% elsif @user.surgeon == nil && @user.id == session[:user_id]  %>
                <%= link_to 'Submit a Ticket', new_ticket_url %><br />
                <% @tickets.each do |my_ticket|%>
                  <%= "Date created: #{my_ticket.created_at}"%><br />
                  <%= "Repair Type: #{my_ticket.repair}"%><br />
                    <% if my_ticket.ticket_accepted == nil%>
                      <%= 'Surgeon enroute: Not accepted yet' %><br />
                    <% else %>
                      <%= "Surgeon enroute: #{my_ticket.ticket_accepted}" %><br />
                    <% end %>
                  <%= link_to 'Check Ticket', ticket_url(my_ticket.id)%><br />
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to 'Logout', logout_path, method: 'delete' %>
            </li>
          </ul>
        </nav>
    </section>
    <section class="profile">
      <h1>Your Dashboard</h1>
      <h2><%= 'Hello '%><%= current_user.username%></h2>
    </section>
  </body>
</html>
