<h1>Your Dashboard</h1>
 <%= 'Hello'%>
 <%=@user.email%>  <br />
<% if @user.surgeon && @user.id == session[:user_id]%>
 <%= link_to 'See all active tickets', tickets_url%><br />

<% elsif @user.surgeon == nil && @user.id == session[:user_id]  %>
<%= link_to 'Submit a ticket', new_ticket_url %><br />

<%= link_to 'Logout', logout_url, method: 'delete' %>
 <% end %>
