<%= form_for @ticket do |f| %>
<% if @ticket.errors.any? %>
  <div class="errors-block">
    There are
    <%= pluralize(@ticket.errors.count, "error") %>.
    <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
  </div>


  <div>
    <% f.label :user_id %>
    <% f.hidden_field :user_id %>
  </div>

  <div>
    <%= f.label :cyclist_location %>
    <%= f.number_field :cyclist_location %>
  </div>

  <div>
    <% f.label :ticket_id %>
    <% f.hidden_field :ticket_id, :value => @ticket.id %>
  </div>

  <div>
    <%= f.label :repair_type %> <%='. Please choose the most applicable option' %>
    <% Ticket.repair_types.each do |repair_code, repair_string| %>
      <p>
      <%= f.label repair_string %>
      <%= f.radio_button :repair, repair_code %>
    </p>
      <% end %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: 'If other, please specify the operation' %><br />
  </div>

<!--

  <div>
    <%= f.label :cyclist_location %>
    <%= f.text_field :cyclist_location %>
  </div>

  <div>
    <%= f.label :surgeon_location %>
    <%= f.text_field :surgeon_location %>
  </div>

  <div>
    <%= f.label :distance %>
    <%= f.text_field :distance %>
  </div>
-->

  <%= f.submit %>
<% end %>
