<%= form_for(@ticket, html: {multipart: true}) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

<!--

  <div>
    <%= f.label :cyclist_location %>
    <%= f.text_field :cyclist_location %>
  </div>

  <div>
    <%= f.label :surgeon_location %>
    <%= f.text_field :surgeon_location %>
  </div>

  <div>
    <%= f.label :distance %>
    <%= f.text_field :distance %>
  </div>
-->

  <%= f.submit %>
<% end %>
