<h1>Available Tickets</h1>

<p>Below is a list of available operations. Please feel free to review the list below.</p>
<p>Just click on "Review Ticket" to see additional details and take on the request!</p>

<% @tickets.each do |i| %>
   <div><%= 'Repair Type: '%><%= i.repair_string%></div>
   <div><%= 'Description: '%><%= i.description%></div>
   <div><%= link_to 'Review Ticket', ticket_url(i.id)%></div>
<% end %>

<%= link_to 'Return to your dashboard', user_path(current_user) %>
