<h1>Available Tickets</h1>

<% @tickets.each do |ticket| %>
    <%= 'Address: ' %><%= ticket.cyclist_location%><br />
    <%= 'Repair Type: '%><%= ticket.repair%><br />
    <%= 'Description: '%><%= ticket.description%><br />
    <%= link_to 'Review Ticket', ticket_url(ticket.id)%><br /> 
    <br />
 <% end %>
