<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Available Tickets</title>
    <link rel="stylesheet" href="../../assets/tickets_html.css">
  </head>
  <body>
    <div class="wrapper">
      <p class="link_back">
        <%= link_to 'Return to your dashboard', user_path(current_user) %>
      </p>
      <div class="available_tickets">
        <div class="left">
          <h1>Available Tickets</h1>
          <div class="ticket">
            <% @tickets.each do |i| %>
              <%= 'Address: ' %><%= i.address%><br />
              <%= 'Repair Type: '%><%= i.repair_string%><br />
              <%= 'Description: '%><%= i.description%><br />
              <%= link_to 'Review Ticket', ticket_url(i.id)%><br />
              <br />
            <% end %>
          </div>
        </div>
        <div class="right">
          <h1>Accepted Tickets</h1>
            <div class="ticket">
              <% @tickets.each do |i| %>
                 <%= 'Address: ' %><%#= i.cyclist_location%><br />
                 <%= 'Repair Type: '%><%= i.repair_string%><br />
                 <%= 'Description: '%><%= i.description%><br />
                 <%= link_to 'Examination Room', ticket_url(i.id)%><br />
                 <br />
              <% end %>
            </div>
        </div>
      </div>

    </div>
  </body>
</html>
