<% if current_user.surgeon %>


<!-- If the current user is truthy -->
<h1>Help Request #<%= @ticket.id %></h1>
<div>
  <h3>
    Cyclist: <%= @cyclist_username %>
  </h3>
  <h3>
    Type of repair: <%= @ticket.repair_string %>
  </h3>

  <h3>
    Cyclist address: <%= @ticket.cyclist_location %>
  </h3>

</div>

<div>
<%= form_for @ticket do |f| %>
  <%= f.label :accept_ticket? %>
  <%= f.check_box :ticket_accepted %>


  <%= f.hidden_field :surgeon_id, value: current_user  %>

  <%= f.submit %>
  <% end %>
</div>

<% else %>
<!-- If current user is anything but a surgeon -->
<h1>Your request has been submitted</h1>

<div>
  <h3>
    Type of repair <%= @ticket.repair_string %>
  </h3>
  <h3>
    Your address <%= @ticket.cyclist_location %>
  </h3>
</div>

<div>
  <p>An email will be sent to <%= @user.email %> once a surgeon has taken on your request </p>
<%= link_to 'Remove ticket', user_path(@ticket), method: :delete, data: {confirm: "Are you sure you want to cancel your ticket?"} %>
<% end %>

<%= link_to 'Return to your dashboard', user_path(current_user) %>

</div>
