<% if @ticket.errors.any? %>
  <div class="error_explanation">
    <h2>
      <%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being created:
    <br>
    </h2>
    <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
    </ul>
  </div>
  <% end %>

<%= form_for(@ticket, html: {multipart: true}) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

<!--

  <div>
    <%= f.label :cyclist_location %>
    <%= f.text_field :cyclist_location %>
  </div>

  <div>
    <%= f.label :surgeon_location %>
    <%= f.text_field :surgeon_location %>
  </div>

  <div>
    <%= f.label :distance %>
    <%= f.text_field :distance %>
  </div>
-->

  <%= f.submit %>
<% end %>
