<h1>Sign Up</h1>

<%= form_for @user do |f| %>
 <% if @user.errors.any? %>
   <div class="errors-block">
       There are <%= pluralize(@user.errors.count, "error") %>.
       <ul>
         <% @user.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
   </div>
 <% end %>

 <div>
   <%= f.label :first_name %> <br />
   <%= f.text_field :first_name %>
 </div>

 <div>
   <%= f.label :last_name %> <br />
   <%= f.text_field :last_name %>
 </div>

 <div>
   <%= f.label :phone %> <br />
   <%= f.text_field :phone %>
 </div>

 <div>
   <%= f.label :email %> <br />
   <%= f.text_field :email %>
 </div>

 <div>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
 </div>

 <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
 </div>

 <div>
    <%= f.label :is_owner? %><br />
    <%= f.check_box :is_owner %>
 </div>

 <div>
   <%= f.submit "Save" %>
 </div>

<% end %>
